.login_page .c-app {
    background: linear-gradient(#f05004, #fcab02) !important;
}

.login_page .btn-primary{
    background: linear-gradient(#f05004, #fcab02) !important;
    transition: 0.8s;
}

.login_page .btn-primary:hover{
    transition: 0.8s;
    background: linear-gradient(#fcab02,#f05004) !important;
}

.login_page .c-app .card{
    border-radius: 0px 0px 0px 40px;
}

.login_page .c-app .card-body{
    padding:0.25rem;
}

.login_page .c-app .bg-primary{
background: linear-gradient(
    45deg
    , black, transparent);
    border-radius: 0px 40px 0px 0px;
}

.login_page .c-app .btn-link{
    text-decoration: none;
}

.login_page .c-app .nav-tabs .nav-link{
    color: gray;
}